<!DOCTYPE html>
<html>
<head>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon.png" sizes="16x16">
    <!-- Favicon end -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alt Coin - Certificate Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/forms.css" />
    <script src="/assets/forms.js"></script>
</head>
<body>
    <!-- Main Content here -->
    <div class="container main">
		<div class="row justify-content-center">
			<div class="col-8 ">
				<p class="heading">Alt Coin - Certificate Verification</p>
				<table class="table table-bordered">
                    <tr>
                        <th>Certificate ID</th>
                        <th>Validity</th>
                    </tr>

                <tr><td>
                    cert_ba1e90d5de978b28c82d7ebaf2a7768a597d9d38d49e024b75c5c42c93e9aad6

                </td>
            <td>Valid</td></tr>
                <tr><td>
                    cert_9811cc8201143565a1d28de179acf1a6f09de50d7655ceb763e7eeb136ea6cd2</td>
                    <td>Not Valid</td>
                </tr>
                <tr><td>
                    cert_e1ae8434b4812aec0557a3c1ac39721d0d12a59edcd5a4ee0143251b42b5fb8b
                </td>
                <td>Valid</td></tr>

                </table>
            </div>
		</div>
	</div>
    <!-- Main Content ends here -->
    <!-- Scripts -->
	<script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
	<!-- <script type="text/javascript" src="javascripts/script.js"></script> -->
</body>
</html>